h1 {
    font-family: 'Poppins', sans-serif;
}

.only-txt {
    max-width: 410px;
    width: 100%;
    min-height: 98px;
    height: 100%;
    color: #242635;
    font-family: Source Sans Pro;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
}
.recipes{

}
.soup {
    max-width: 576px;
    width: 100%;
    max-height: 648px;
    height: 100%;

}