@import 'design';
@import'change';

body {
    max-width: 1200px;
    width: 100%;
    min-height: 810px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav {
    max-width: 1200px;
    width: 100%;
    display: flex;

}

.links {
    display: flex;
    max-width: 380px;
    width: 100%;
    justify-content: space-evenly;

}

.recipes {
    max-width: 410px;
    width: 100%;
    min-height: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.food-img {
    display: flex;
    transform: translatey(-10%);
}

@media screen and (max-width: 1000px) {
    .works {
        display: none;
    }

    .services {
        display: none;
    }

    .contacts {
        display: none;
    }
}

/*
@media screen and (max-width: 1000px) {
    .services {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .contacts {
        display: none;
    }
}
*/


@media screen and (max-width: 570px) {
    .three-dots {
        display: none;
    }
}