@import 'design';

body {
    max-width: 1000px;
    width: 100%;
    min-height: 810px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

nav {
    max-width: 600px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.recipes {
    max-width: 410px;
    width: 100%;
    min-height: 98px;
    height: 100%;
}